@import "vars";
@import "layout";
@import "widget";

.app {
  &-header {
    padding: 12px 8px;
    background-color: $primary;
    color: #fff;
  }
  main {
    padding: 40px 10px;
  }
}
.text-center {
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 420px) {
  main {
    padding: 40px 15px;
  }
}